In [1]:
import re
import pandas as pd

In [22]:
# get transfer data
data = pd.read_csv("data/transfers1.8.csv")
data_len = len(data)
data.head()

,ID,arrival_club,arrival_league,player_name,age,position,transfer_price,year_1,year_2,origin_club,origin_league,grouping_positions_1,grouping_positions_2,arrival_club_tier,origin_club_tier,age_grouping_1,age_grouping_2,transfer_price_group1,transfer_price_group2
0,5427,Getafe CF,Primera Division,Derek Boateng,26,Defensive Midfield,0.675,2009,Before2016,1. FC Köln,1 Bundesliga,CDM,M,Tier_3,Tier_3,U30,Under30,Below1M,Below5M
1,4285,FC Schalke 04,1 Bundesliga,Peer Kluge,29,Defensive Midfield,1.350,2009,Before2016,1.FC Nuremberg,1 Bundesliga,CDM,M,Tier_2,Tier_4,U30,Under30,10Mto1M,Below5M
2,5453,Hertha BSC,1 Bundesliga,Artur Wichniarek,32,Centre Forward,0.630,2009,Before2016,Arm. Bielefeld,Other,CF,F,Tier_3,Tier_4,A30,Above30,Below1M,Below5M
3,4865,Hamburger SV,1 Bundesliga,Robert Tesche,22,Central Midfield,0.900,2009,Before2016,Arm. Bielefeld,Other,CM,M,Tier_2,Tier_4,U25,Under23,Below1M,Below5M
4,1361,Ajax Amsterdam,Eredivisie,Demy de Zeeuw,26,Central Midfield,7.200,2009,Before2016,AZ Alkmaar,Eredivisie,CM,M,Tier_2,Tier_3,U30,Under30,10Mto1M,20Mto5M

In [23]:
# get wikipedia player info
info_df = pd.read_csv("data/player_wikipedia_info.csv")
info_df.head()

         player_name  height nationality
0             Neymar    1.75      Brazil
1  Philippe Coutinho    1.72      Brazil
2      Kylian Mbappé    1.78      France
3         João Félix    1.81    Portugal
4    Ousmane Dembélé    1.78      France

In [24]:
# get wikipedia player stats
stats_df = pd.read_csv("data/player_wikipedia_stats.csv")
stats_df.head()

         player_name from_year  to_year                 club   apps    gls
0             Neymar      2009   2013.0               Santos  177.0  107.0
1             Neymar      2013   2017.0            Barcelona  123.0   68.0
2             Neymar      2017      NaN  Paris Saint-Germain   52.0   47.0
3  Philippe Coutinho      2008   2013.0          Inter Milan   28.0    3.0
4  Philippe Coutinho      2008   2010.0        Vasco da Gama   19.0    1.0

In [33]:
# get fifa stats
fifa_df = pd.read_csv("data/fifa_stats.csv")
fifa_df = fifa_df.applymap(lambda x: x.strip() if type(x)==str else x)
fifa_df.head()

   ovr  year nationality        player_name  pot
0   91     8      Brazil         Ronaldinho   93
1   91     8    Portugal  Cristiano Ronaldo   94
2   91     8       Italy   Gianluigi Buffon   93
3   90     8      Brazil               Kaká   91
4   90     8     England       Wayne Rooney   91

In [26]:
# merge height/nationality with dataset
data = data.merge(on="player_name", right=info_df)
assert(len(data)==data_len)
data.head()

,ID,arrival_club,arrival_league,player_name,age,position,transfer_price,year_1,year_2,origin_club,...,grouping_positions_1,grouping_positions_2,arrival_club_tier,origin_club_tier,age_grouping_1,age_grouping_2,transfer_price_group1,transfer_price_group2,height,nationality
0,5427,Getafe CF,Primera Division,Derek Boateng,26,Defensive Midfield,0.675,2009,Before2016,1. FC Köln,...,CDM,M,Tier_3,Tier_3,U30,Under30,Below1M,Below5M,1.8288,Ghana
1,4285,FC Schalke 04,1 Bundesliga,Peer Kluge,29,Defensive Midfield,1.350,2009,Before2016,1.FC Nuremberg,...,CDM,M,Tier_2,Tier_4,U30,Under30,10Mto1M,Below5M,1.7900,Germany B
2,5453,Hertha BSC,1 Bundesliga,Artur Wichniarek,32,Centre Forward,0.630,2009,Before2016,Arm. Bielefeld,...,CF,F,Tier_3,Tier_4,A30,Above30,Below1M,Below5M,1.8300,Poland
3,4865,Hamburger SV,1 Bundesliga,Robert Tesche,22,Central Midfield,0.900,2009,Before2016,Arm. Bielefeld,...,CM,M,Tier_2,Tier_4,U25,Under23,Below1M,Below5M,1.8200,NaN
4,1361,Ajax Amsterdam,Eredivisie,Demy de Zeeuw,26,Central Midfield,7.200,2009,Before2016,AZ Alkmaar,...,CM,M,Tier_2,Tier_3,U30,Under30,10Mto1M,20Mto5M,1.7400,Netherlands

In [44]:
# TODO: merge goals/apps with dataset

In [43]:
# data = data.merge(on="player_name", right=fifa_df)
# print(len(data))
# assert(len(data)==data_len)
# data.head()
fifa_df[fifa_df.player_name == "Neymar"]

        ovr  year nationality player_name  pot
29458    73    10      Brazil      Neymar   84
43276    78    11      Brazil      Neymar   88
58029    85    12      Brazil      Neymar   91
72591    83    13      Brazil      Neymar   91
87575    85    14      Brazil      Neymar   91
104226   86    15      Brazil      Neymar   91
120703   90    16      Brazil      Neymar   94
137770   92    17      Brazil      Neymar   94
155376   92    18      Brazil      Neymar   93

In [39]:
data_len

6734

In [42]:
data.year_1.dtype

dtype('int64')